.hovereffect{}

.hovereffect.dark{
    
   border-bottom-color: #383838;
}

.hovereffect.dark:hover {
    background-color: #383838; /* Change this to the desired hover color */
    cursor: pointer; /* Optional: Change cursor to pointer on hover */
}

.button {
    border: 1px solid transparent;
    margin-top: 10px;
    border-radius: 0;
    color: black; /* Default font color */
  }
  
  .button.dark {
    background-color: rgb(19, 19, 19);
    color: white; /* Font color when in dark mode */
    transition: 0.3s ease-in-out;
  }
  
  .button.dark:hover {
    color: white; /* Font color when in dark mode */
    background-color: rgb(59, 59, 59);
  }
  
  .tab {
    border: 1px solid transparent;
    margin-top: 10px;
    border-radius: 0;
    color: black; /* Default font color */
  }
  
  .tab.dark {
    background-color: rgb(19, 19, 19);
    color: white; /* Font color when in dark mode */
    transition: 0.3s ease-in-out;
  }

  .tab.dark.drawer {
    background-color: rgb(51, 51, 51);
    color: white; /* Font color when in dark mode */
    transition: 0.3s ease-in-out;
  }

  .tab.dark.drawer:hover{
    /* color: white; */
    background-color: rgb(40, 40, 40);
  }

  .tab.light.drawer:hover{
    /* color: white; */
    background-color: rgb(200, 200, 200);
  }

 .tab.dark span{
    color: white; /* Font color when in dark mode */
    transition: 0.3s ease-in-out;
   
 }

 .tab.dark:hover{
    color: white;
    background-color: rgb(59, 59, 59);
  }
  
  .tab.dark:hover span{
    color: white;
    background-color: rgba(59, 59, 59, 0);
  }

  
  .custom-link {
    text-decoration: none;
    color: inherit;
  }
  
  .custom-link:hover {
    text-decoration: none;
    color: inherit;
  }
  
  .custom-link:focus {
    text-decoration: none;
    color: inherit;
  }

  .modalcon{
    border-radius: 0px;
  }

  .ant-picker-input>input::placeholder {
    color: red;
 }
  
  .datepickersudharsan div input:-ms-input-placeholder {
    color: red; /* For Internet Explorer 10-11 */
  }
  
  .datepickersudharsan div input::-ms-input-placeholder {
    color: red; /* For Microsoft Edge */
  }
  
  .formpage {
    background-image: url('../media/bg_3.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000000;
}

.inner-div {
    position: relative;
    overflow-y: scroll; /* Enable scrolling */
    
}

/* Hide scrollbar for WebKit-based browsers (Chrome, Safari) */
.inner-div::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.inner-div {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}


.outer-container {
  background-image: url('../media/bg_2.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
 
  margin: 0;
  padding: 0;
}
.split-container {
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(19, 19, 19, 0.5);
  display: flex;
  width: 50vw;
  height: 50vh;
  background-color: rgb(255, 255, 255);
}

.text-container{
  margin-left: 10px;
  border-radius: 0 0 0px 10px;
  box-shadow: 0 0 10px 0.2;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image-container{
 
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container {
  background-color: #f0f0f000;  
}

.text-container h1 {
  font-size: 2em;
  margin: 0;
  position: relative;
  

}



.image-container img {
  flex: 2;
  overflow: hidden;
  border-radius: 8px 0 0 8px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}

@media (max-width: 1200px) {
  .image-container {
    display: none;
  }

  



  .text-container{
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 10px 10px 10px 10px;
    
   
  }
  
  .split-container {
    background-image: url('../media/formstart.jpg');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    width: 60%;  
    border-radius: 10px 10px 10px 10px;
  }

  .text-container h1 {
  
    position: static;
    text-align: center;
  }
}

@media (max-height: 700px) {
  .image-container {
    display: none;
  }

  



  .text-container{
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 10px 10px 10px 10px;
    
   
  }
  
  /* .split-container {
    background-image: url('../media/formstart.jpg');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    height: fit-content;
    width: 60%;  
    border-radius: 10px 10px 10px 10px;
  } */

  .text-container h1 {
    font-size: 1.5em;
    position: static;
    text-align: center;
  }
}



@media (max-height: 400px) {
  .image-container {
    display: none;
  }

  



  .text-container{
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 10px 10px 10px 10px;
    
   
  }
  
  .split-container {
    background-image: url('../media/screensize.jpg');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    height: 50%;
    width: 50%; 
    border-radius: 10px 10px 10px 10px;
  }
  span 
  {
      border: solid 1px black;
  }
  .text-container  {
   display: none;
  }
}


/* .eye-icon {
  position: absolute;
  top: 56%;
  right: 20%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #808c83;
} */
 